* {
    margin-block-end: 0px;
    margin-block-start: 0px;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
}

.pages-body {
    margin-bottom: 60px;
}

.dropdown-menu.show {
    background-color: rgba(0, 0, 0, .9);
}

.contact-header {
    font-size: 60px;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    padding: 15px;
}

.banner-img {
    width: 100%;
    margin: auto;
    height: 0px;
    border-bottom: 40px solid #000000;
    border-top: 5px solid #c72e00;
}

.port-flex {
    padding-top: 30px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.card-class {
    width: 350px;
    border-bottom: ridge #4d4d4d;
    background-size: cover;
}

.caption-class {
    text-align: center;
    padding-bottom: 30px 0px;
} 

.project-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5rem;
}

.card-image {
    width: 100%;
    max-width: 400px;
}

.link-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.live-link {
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    background-color: #c72e00;
    color: #ffffff;
    font-size: 20px;
    height: 40px;
    width: 40%;
    margin-bottom: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: .5s ease-in-out;
}

.live-link:hover {
    width: 45%;
    height: 45px;
}

.project-description {
    padding: 10px 0px;
}

@media only screen and (min-width: 768px) {
    .contact-header {
        font-size: 8rem;
    }

}
@media only screen and (min-width: 1085px) {
    .card-class {
        border: 1px solid gray;
    }
}

@media only screen and (min-width: 1400px) {
    .contact-header {
        padding: 20px;
        font-size: 5rem;
    }

    .pages-body {
        width: 100%;
    }

    .port-flex {
        width: 50%;
        margin: auto;
    }
}

@media(hover: hover) and (pointer: fine) {
    .caption-class {
        padding-top: 15px;
        width: 100%;
        height: 100%;
        position: relative;
        bottom: 201px;
        text-align: center;
        opacity: 0;
        transition: .5s ease-in-out;
    }

    .caption-class:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, .7);
    }

    .card-class {
        height: 200px;
    }

    .live-link {
        margin-bottom: 0;
    }
}

