html{
    box-sizing: border-box;  
}

body {
    background-image: url('https://live.staticflickr.com/65535/49995426902_240c44f901_k.jpg');
    background-position-x: center;
    background-color: rgba(0,0,0,.8);
    background-blend-mode: hue;
    margin: 0px;
    margin-bottom: 60px;
    font-family: 'Playfair Display', serif;
}

a {
    cursor: pointer;
}

div {
    cursor: default ;
}

.pages-body {
    background-image: none;
    background-color: #ffffff;
}

.nav-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    background-color: #000000;
}

.name-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.initials {
    color: #ffffff;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.full-name {
    color: #ffffff;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    visibility: collapse;
}

.main-link {
    color: #ffffff;
    text-decoration: none;
    cursor: crosshair;
}

.hamburger-btn {
    width: 40px;
    height: 40px;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5 ease-in-out;
    cursor: crosshair;
}

/* The following code for the hamburger animation was inspired from https://www.youtube.com/watch?v=dIyVTjJAkLw */

.hamburger-patty {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transition: all .5 ease-in-out;
}

.hamburger-patty::before,
.hamburger-patty::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px; 
    background-color: #ffffff;
}

.hamburger-patty::before {
    transform: translateY(10px);
}

.hamburger-patty::after {
    transform: translateY(-10px);
}

.hamburger-btn.open .hamburger-patty {
    transform: translateX(-50px);
    background: transparent;
}

.hamburger-btn.open .hamburger-patty::before {
    transform: rotate(-45deg) translate(35px, 35px)
}

.hamburger-btn.open .hamburger-patty::after {
    transform: rotate(45deg) translate(35px, -35px)
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    transition: .3s ease-in-out;
    height: 0px;
}

.dropdown-menu.show {
    display: flex;
    visibility: visible;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,.7);
    height: 175px;
}

.nav-link {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    z-index: 0;
}

.nav-link:hover {
    color: #c92800;
}

/* Main page code */
.main-body-grid {
    grid-template-columns: 1;
    grid-template-rows: 200px auto;
    place-items: center;
    width: 90%;
    margin: auto;
}

.main-page-content {
    margin-top: 7rem;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 45px;
    text-align: center;
}

/* Inspired by Animista*/

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
.foot {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    position: fixed;
    height: 60px;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    font-size: 12px;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    .initials {
        color: #ffffff;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 65px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .hamburger-btn {
        width: 60px;
        height: 60px;
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5 ease-in-out;
    }

    .hamburger-patty {
        width: 45px;
        height: 6px;
        background-color: #ffffff;
        transition: all .5 ease-in-out;
    }
    
    .hamburger-patty::before,
    .hamburger-patty::after {
        content: '';
        position: absolute;
        width: 45px;
        height: 6px; 
        background-color: #ffffff;
    }
    
    .hamburger-patty::before {
        transform: translateY(15px);
    }
    
    .hamburger-patty::after {
        transform: translateY(-15px);
    }

    .nav-link {
        color: #ffffff;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 30px;
    }

    .main-page-content {
        font-size: 65px;
    }

    .foot {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1024px) {

    .initials {
        visibility: hidden;
        font-size: 0;
    }

    .full-name {
        visibility: visible;
        font-size: 45px;
    }

    .dropdown-menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .dropdown-menu.show {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 100px;
    }

    .main-page-content {
        margin-top: 2rem;
        font-size: 65px;
    }

    .foot {
        font-size: 15px;
    }

}

@media only screen and (min-width: 1650px) {

    .main-page-content {
        margin-top: 7rem;
    }
}



/* fonts:
font-family: 'Julius Sans One', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Playfair Display', serif;*/